<br />
<div class="row">
  <div class="col-md-12">
    <h1>Sign Up Confirmation</h1>
    <p>Are you sure these values are correct?</p>
    <p>Email: <%= @user.email %></p>
    <p>Name: <%= @user.name %></p>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= button_to "Yes", { :controller => "users", :action => "create", :params => params }, form_class: "inline confirmation-form", class: 'btn btn-success' %>
      <%= button_to "No", { :controller => "users", :action => "new", :method => :get }, form_class: 'inline confirmation-form', class: 'btn btn-secondary'  %>
    </div>
  </div>
</div>
