// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: blue;
}

#index-title {
	text-align: center;
	font-size: 15px;
	color: blue;
}

.posts {
	margin: 5px;
	padding: 5px;
	height: 200px;
	border: solid;
}

section {
	margin: 5px;
	padding: 5px;
	border: 5px solid;
	background: #5998ff;
}